<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Interface</title>
    <style>
        textarea, input, select {
            border: 1px solid black;
            margin: 1px;
        }

        button {
            width: 70px;
            height: 30px;
        }

        .center-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
        }

        .display-show {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 8px;
            margin-left: 8px;
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        /* Add this rule */
        #url, #referencData, #text-input {
            font-size: 18px;
        }

        #addUrlButton {
            margin-left: 10px;
            width: 70px;
            height: 30px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="center-screen">
    <div style="display: flex; align-items: flex-start;">
        <div>
            <div class="center-content">
                <label for="model_name">选择模型：</label>
                <select id="model_name" style="width: 900px; height: 30px;">
                    <option value="A_72_chat">A_72_chat</option>
                    <option value="A_72_protogenesis_chat">A_72_protogenesis_chat</option>
                    <option value="B_7_chat">B_7_chat</option>
                    <option value="B_7_protogenesis_chat">B_7_protogenesis_chat</option>
                </select>
            </div>
            <div>
                <textarea id="display-area" style="width: 900px; height: 500px; overflow: auto;" readonly></textarea>
            </div>
            <div>
                <textarea id="text-input" style="width: 900px; height: 100px; overflow: auto;">悉尼大学奖学金</textarea>
            </div>
            <div>
                <button onclick="clearInput()">Clear</button>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>
<script>
    // 清空输入框
    function clearInput() {
        document.getElementById("text-input").value = "";
    }

    // Function to generate a random token
    function generateToken(length) {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let token = '';
        for (let i = 0; i < length; i++) {
            token += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return token;
    }

    // Variable to store the generated token
    let token = "";

    // Generate a token on window load
    window.onload = function () {
        token = generateToken(16);
    }

    // Function to send a message with streaming support
    async function sendMessage() {
        const message = document.getElementById("text-input").value;
        if (!message.trim()) {
            return; // If the input is empty, stop the function execution
        }
        const model_name = document.getElementById("model_name").value.trim();
        var model;
        var host;
        var uri;
        var data;
        if (model_name === "A_72_chat" || model_name === "A_72_protogenesis_chat") {
            model = "/root/autodl-tmp/llm/Qwen2-72B-Instruct-GPTQ-Int4"
            host = 'https://u430182-ac52-13068849.cqa1.seetacloud.com'
            if (model_name === "A_72_protogenesis_chat") {
                uri = '/v1/chat/completions'
                data = {
                    model: model,
                    messages: [
                        {
                            role: "system",
                            content: "你是一个智能小助手"
                        },
                        {
                            role: "user",
                            content: message
                        }
                    ],
                    stream: true
                };
            } else {
                uri = '/knowledge_base/chat/completions'
                data = {
                    model: model,
                    query: message,
                    stream: true
                };
            }
        } else {
            model = "/root/autodl-tmp/llm/Qwen2-7B-Instruct"
            host = 'https://u430182-ac52-9e557856.cqa1.seetacloud.com'
            if (model_name === "B_7_protogenesis_chat") {
                uri = '/v1/chat/completions'
                data = {
                    model: model,
                    messages: [
                        {
                            role: "system",
                            content: "你是一个智能小助手"
                        },
                        {
                            role: "user",
                            content: message
                        }
                    ],
                    stream: true
                };
            } else {
                uri = '/knowledge_base/chat/completions'
                data = {
                    model: model,
                    query: message,
                    stream: true
                };
            }
        }
        const url = host + uri;


        // Disable the send button
        const sendButton = document.querySelector('button[onclick="sendMessage()"]');
        sendButton.disabled = true;
        sendButton.textContent = "Loading..."; // Change button text to show loading state

        // Update the display area with the user's message
        document.getElementById("display-area").value += "user: " + message + "\n";

        // Data to be sent in the request


        try {
            // Send the request and process the response stream
            await sendRequest('POST', url, data);
            document.getElementById("display-area").value += "\n\n";
            // await sendRequest('POST', 'https://u430182-8ae0-895009fa.cqa1.seetacloud.com/chat/stream1', data);
        } catch (error) {
            console.error('Error:', error);
            alert("Error sending message. Please try again.");
        }

        // Re-enable the send button
        sendButton.disabled = false;
        sendButton.textContent = "Send"; // Reset button text to original

        // Clear the input area
        clearInput();
    }

    // Function to send a request with streaming support
    async function sendRequest(method, url, data = {}, headers = {}) {
        const defaultHeaders = {
            'Content-Type': 'application/json',
        };

        // Include the model name and token in the headers
        const model_name = document.getElementById("model_name").value.trim();
        if (model_name) {
            defaultHeaders['model-name'] = model_name;
        }
        defaultHeaders['token'] = token;

        // Send request using Fetch API
        const response = await fetch(url, {
            method: method,
            headers: {...defaultHeaders, ...headers},
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        // Process the stream
        const reader = response.body.getReader();
        const decoder = new TextDecoder('utf-8');

        let textSoFar = '';
        while (true) {
            const {value, done} = await reader.read();
            if (done) break;
            console.log("value", value);
            textSoFar += decoder.decode(value, {stream: true});

            // console.log("textSoFar", textSoFar);

            // 处理多个 data: 前缀和多条数据
            if (textSoFar.includes("data: ")) {
                textSoFar = textSoFar.split("data: ").join('');
            }

            // 使用换行符作为分隔符来分割数据
            const dataChunks = textSoFar.split('\n');

            // 处理每一条数据
            for (let chunk of dataChunks) {
                try {
                    if (chunk.trim() === '') continue; // 跳过空行
                    const json = JSON.parse(chunk.trim());

                    // 提取出 role 和 content
                    const role = json.choices[0].delta.role;
                    const content = json.choices[0].delta.content;

                    // 更新 display-area
                    let displayText = '';
                    if (role) {
                        displayText = "ai回复：";
                    } else if (content) {
                        displayText = content;
                    }

                    document.getElementById("display-area").value += displayText

                } catch (e) {
                    if (e instanceof SyntaxError) {
                        // 如果解析 JSON 失败，继续读取更多数据
                        continue;
                    } else {
                        throw e;
                    }
                }
            }

            // 清空 textSoFar 以便处理下一段数据
            textSoFar = dataChunks[dataChunks.length - 1];
        }

    }

    // Send message on Enter key press
    document.getElementById("text-input").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevents the default action of the Enter key
            sendMessage();
        }
    });
</script>

</body>
</html>
